/* CSS for header; navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 100px;
}

.logo {
	font-weight: bold;
}

.nav-links {
	display: flex;
	gap: 10px;
}

ul,
li {
	display: flex;
	gap: 10px;
	list-style: none;
}

/* CSS for header; main */

.main {
	display: flex;
	align-items: center;
	margin: 0px 100px;
}

.main1 {
	display: flex;
	flex-direction: column;
	margin-right: 100px;
}

.main2 {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.sign-up {
	height: 30px;
	width: 80px;
}

/* CSS for section */

.overview {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

img {
	height: 100px;
	width: 150;
}

.image .text {
	display: flex;
	flex-direction: column;
}

/* CSS for description */

.description {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0px 100px;
}

.h3 {
	margin-left: 100px;
}

/* CSS for footer */

.action {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
}
