/* CSS for header; navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 100px;
	background-color: #1f2937;
}

.logo {
	font-weight: bold;
	color: #f9faf8;
	font-size: 24px;
}

.nav-links {
	display: flex;
	gap: 10px;
	color: #e5e7eb;
	font-size: 18px;
}

ul,
li {
	display: flex;
	gap: 10px;
	list-style: none;
}

/* CSS for header; main */

.main {
	display: flex;
	align-items: center;
	margin: 50px 100px;
	background-color: #1f2937;
}

.main h2 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;
}

h3 {
	color: #e5e7eb;
	font-size: 18px;
}

.main2 {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.sign-up {
	height: 30px;
	width: 80px;
	background-color: #3882f6;
}

/* CSS for section */

.overview {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 50px 100px;
}

.overview h2 {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

img {
	height: 150px;
	width: 200px;
}

.images {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

/* CSS for description */

.description {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0px 100px;
	background-color: #e5e7eb;
}

.description h3 {
	margin-left: 100px;
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1f2937;
}

/* CSS for footer */

.action {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	background-color: #3882f6;
}
